@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lalezar/v14/zrfl0HLVx-HwTP82YaL4IxL0.woff2)
    format("woff2");
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1,
    U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF,
    U+FE70-FE74, U+FE76-FEFC;
}

.lalezar {
  font-family: "Lalezar" !important;
}

[data-theme="light"] {
  background: url("/didar-link/background/5.svg");
  background-color: #e5e5e5;
}

[data-theme="dark"] {
  background: url("/didar-link/background/5-dark.svg");
  background-color: #0a0a0a;
}

[data-theme="light"],
[data-theme="dark"] {
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.backdrop {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.svg-bg-1,
.svg-bg-2,
.svg-bg-3,
.svg-bg-4 {
  background-size: cover !important;
  background-attachment: fixed !important;
  width: 100%;
  position: fixed;
  height: 35vh;
  bottom: 0;
  background-position: bottom center !important;
}

.svg-bg-1 {
  background: url("/didar-link/background/1.svg");
  z-index: 10;
}

.svg-bg-2 {
  background: url("/didar-link/background/2.svg");
  z-index: 8;
}

.svg-bg-3 {
  background: url("/didar-link/background/3.svg");
  z-index: 6;
}

.svg-bg-4 {
  background: url("/didar-link/background/4.svg");
  z-index: 4;
}

.level-1,
.level-2,
.level-3,
.level-4,
.level-5 {
  position: relative;
}

.level-1 {
  z-index: 3;
}

.level-2 {
  z-index: 5;
}

.level-3 {
  z-index: 7;
}

.level-4 {
  z-index: 9;
}

.level-5 {
  z-index: 11;
}

[data-theme="dark"] .svg-bg-1 {
  background: url("/didar-link/background/1-dark.svg");
  z-index: 10;
}

[data-theme="dark"] .svg-bg-2 {
  background: url("/didar-link/background/2-dark.svg");
  z-index: 8;
}

[data-theme="dark"] .svg-bg-3 {
  background: url("/didar-link/background/3-dark.svg");
  z-index: 6;
}

[data-theme="dark"] .svg-bg-4 {
  background: url("/didar-link/background/4-dark.svg");
  z-index: 4;
}
